  <!DOCTYPE html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

   <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
   <script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script>
   <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <%= stylesheet_link_tag "thumbnail-gallery.css" %>
    <%= stylesheet_link_tag "application.css" %>
</head>
<body>

<!-- Navigation -->

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/images/index">Image Portal</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/images/new">Post Image</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>




<div class = 'row'>
<div class='col-md-4'>
</div>


<div class = "col-md-4">
<h1>Post Image</h1>
<h4>Jpeg / Png / Gif</h4>

<div class="span6 offset3">
<%= form_for @image, :url => images_path, :html => {:multipart => true} do |f| %>
 
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
  </br>
  <%= f.label :title %>
  <%= f.text_field :title %>

  </br>
  </br>
  <%= f.submit :submit, {class: 'btn btn-succes'} %>
<% end %>
</div>

<div class='col-md-4'>
</div>

</div>


</div>
</body>
</html>
